@import "form.scss";
@import "nav.scss";
@import "list.scss";
@import "footer.scss";

$gris-oscuro: #0E88E4 ;
$gris: white;
$gris-claro: #222222;
$dark: white;
$very-dark:#4E63A8;
$accept: #CFE90E ;
$accept-hover: #8E427A;
$warnin: #FF0344;
$warnin-hover: #FFBE03;
$letra:black;
* {
  margin: 0;
  padding: 0;

  color: $letra;
}

#root {

  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

}

#volverInicio {
  font-size: xx-large;

}


.cuerpo-grid {

  width: 100%;
  display: grid;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  grid-template-columns: min-content auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "header header" "navigation navigation" "menu main" "pie pie";
  border: solid 1px black;


  header {
    height: auto;
    grid-area: header;
    background-repeat: no-repeat;
    background-size: cover;
    background: $accept;
    box-shadow: 3px 3px 5px black;

    .titulo {
      color: black;
      height: 100%;
      width: 100%;
      display: flex;

      h1 {
        margin: 0;
        width: auto;
        display: inline-block;
        padding: 5px;

      }

      i {
        margin: 0;
        font-size: xx-large;
        color: black;
        display: inline-block;
        padding-top: 15px;
      }


    }

  }

  nav {
    background: $dark;
    height: auto;
    grid-area: navigation;
  }

  main {
    width: 100%;
    height: available;
    grid-area: main;
    background: $dark;


  }

  aside {
    background: $dark;
    display: block;
    grid-area: menu;
    width: auto;

    position: relative;
  }

}

@include footer($gris, $gris-claro, $gris-oscuro, $dark, $warnin-hover,$letra);
@include form-add($gris, $gris-oscuro, $accept, $accept-hover, $warnin, $warnin-hover,$letra);
@include nav($gris-claro, $gris-oscuro, $dark, $accept,$letra);
@include list($gris, $gris-oscuro, $dark, $accept, $warnin,$very-dark,$letra);
//ipad pro
@media only screen and (width: 1024px) and (height: 1366px) {
  .cuerpo-grid {

    width: 100%;
    display: grid;
    height: 100%;
    min-height: 100vh;
    margin: 0 auto;
    grid-template-columns: min-content auto;
    grid-template-rows: 50px 100px auto 300px;
    grid-template-areas: "header header" "navigation navigation" "menu main" "pie pie";
    border: solid 1px black;

    header {
      height: auto;

      grid-area: header;
      background-repeat: no-repeat;
      background-size: cover;
      background: $accept;
      box-shadow: 3px 3px 5px black;

      .titulo {
        color: black;
        height: 100%;
        width: 100%;
        display: flex;

        h1 {
          margin: 0;
          width: auto;
          display: inline-block;
          padding: 5px;

        }

        i {
          margin: 0;
          font-size: xx-large;
          color: black;
          display: inline-block;
          padding-top: 15px;
        }

      }

    }

    nav {
      background: $dark;
      height: auto;
      grid-area: navigation;
    }
    aside {
      grid-area: menu;
      background: $gris;
      height: 100%;
      width: 100%;

    }
    main {
      grid-area: main;
      background: $dark;
      height: 100%;

    }


  }

}

@media only screen and (width: 1366px) and (height: 1024px) {
  .cuerpo-grid {

    width: 100%;
    display: grid;
    height: 100%;
    max-width: 100%;
    min-height: 100%;
    margin: 0 auto;
    grid-template-columns: min-content auto;

    grid-template-rows: 50px 100px auto 300px;
    grid-template-areas: "header header" "navigation navigation" "menu main" "pie pie";
    border: solid 1px black;

    header {
      height: auto;
      grid-area: header;
      background-repeat: no-repeat;
      background-size: cover;
      background: $accept;
      box-shadow: 3px 3px 5px black;

      .titulo {
        color: black;
        height: 100%;
        width: 100%;
        display: flex;

        h1 {
          margin: 0;
          width: auto;
          display: inline-block;
          padding: 5px;

        }

        i {
          margin: 0;
          font-size: xx-large;
          color: black;
          display: inline-block;
          padding-top: 15px;
        }

      }

    }

    nav {
      background: $dark;
      height: auto;
      grid-area: navigation;
    }
    aside {
      grid-area: menu;
      background: $gris;
      height: 100%;
      width: 100%;

    }
    main {
      grid-area: main;
      background: $dark;
      height: 100%;

    }


  }

}


@media screen and(max-width: 768px) {
  .cuerpo-grid {
    width: 100%;
    display: grid;
    height: 100%;
    min-height: 100vh;
    margin: 0 auto;
    grid-template-columns: min-content auto;
    grid-template-rows: auto auto auto 300px;
    grid-template-areas: "header header" "navigation navigation" "menu main" "pie pie";
    border: solid 1px black;

    footer {
      footer {
        height: 100%;
        width: 100%;
        grid-area: pie;
        background: linear-gradient(90grad, $gris, $gris-oscuro, $dark, black);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

        .social {
          text-align: center;
          height: 100%;

          h1 {
            display: block;
            width: 100%;
            font-size: xx-large;
          }

          i {
            display: block;
            width: 100%;
            font-size: xx-large;
          }

          i:hover {
            color: #1528ff;
          }

          p {
            display: block;
            width: 100%;
            font-size: larger;
            font-family: Arial;
          }

          p:hover {
            color: #1528ff;
          }


        }

        .tecnologias {
          display: block;
          text-align: center;
          height: 100%;

          .container-tec {
            display: grid;
            height: auto;
            width: auto;
            grid-template-columns: 1fr 1fr;

            h4 {
              display: block;
              padding: 0;
              margin: 0;
            }

            .interno {
              height: auto;
              display: grid;
              grid-template-columns: 1fr 1fr;

              .logos {
                display: block;

                i {

                  display: block;
                  padding: 2px;
                  font-size: smaller;
                }

                i:hover {
                  color: $warnin-hover;
                }


              }

              p {
                font-size: 5px;
                padding: 20px;
              }

              p:hover {
                color: $warnin-hover;
                padding: 5px;
                font-size: 8px;
              }
            }
          }

        }


      }


    }
  }
  @media screen and(max-width: 411px) {
    .cuerpo-grid {
      width: 100%;
      display: grid;
      height: 100%;
      min-height: 100vh;
      margin: 0 auto;

      grid-template-rows: auto auto auto 300px;
      grid-template-areas: "header header" "navigation navigation" "menu main" "pie pie";
      border: solid 1px black;


    }
    footer {
      footer {
        height: 100%;
        width: 100%;
        grid-area: pie;
        background: linear-gradient(90grad, $gris, $gris-oscuro, $dark, black);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

        .social {
          text-align: center;
          height: 100%;

          h1 {
            display: block;
            width: 100%;
            font-size: xx-large;
          }

          i {
            display: block;
            width: 100%;
            font-size: xx-large;
          }

          i:hover {
            color: #1528ff;
          }

          p {
            display: block;
            width: 100%;
            font-size: larger;
            font-family: Arial;
          }

          p:hover {
            color: #1528ff;
          }


        }

        .tecnologias {
          display: block;
          text-align: center;
          height: 100%;

          .container-tec {
            display: grid;
            height: auto;
            width: auto;
            grid-template-columns: 1fr 1fr;

            h4 {
              display: block;
              padding: 0;
              margin: 0;
            }

            .interno {
              height: auto;
              display: grid;
              grid-template-columns: 1fr 1fr;

              .logos {
                display: block;

                i {

                  display: block;
                  padding: 2px;
                  font-size: smaller;
                }

                i:hover {
                  color: $warnin-hover;
                }


              }

              p {
                font-size: 5px;
                padding: 20px;
              }

              p:hover {
                color: $warnin-hover;
                padding: 5px;
                font-size: 8px;
              }
            }
          }

        }


      }


    }
  }
}
